@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/Starjedi.otf') format('opentype'),
         url('../fonts/Starjedi.woff2') format('woff2'),
         url('../fonts/Starjedi.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
