$primary-color: #FFE81F;
$secondary-color: black;
$body-text-color: #FFE81F;
$heading-font-family: Roboto, Arial, sans-serif;
$body-font-family: Roboto, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;