@use '../abstracts' as a;

#character-box {
    position: relative;

    .nav-btn {
        position: fixed;
        bottom: 10%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10;
        padding: 1rem;
        display: block;
        
        img {
            width: 40px;
            height: 40px;
        }
        
        &.prev-btn { 
            left: 1rem; 
        }
        &.next-btn { 
            right: 1rem; 
        }
    }

    ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        li {
            width: 200px;
            height: 300px;
            cursor: pointer;
            transition: all 0.3s ease;
            list-style-type: none;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            margin-bottom: -2.5rem;

            &.current {
                display: flex;
            }

            .character-name {
                top: -70px;
                font-weight: 800;
                position: absolute;
                color: a.$primary-color;
                font-size: 1.2rem;
                opacity: 1;
                transition: opacity 0.3s ease;
                text-align: center;
                white-space: nowrap;
            }

            img {
                height: 100%;
                max-width: none;
                object-fit: contain;
            }

            //Jabba
            &:nth-of-type(6) {
    
                img {
                    margin-right: -18rem;
                }
            }

            //Yoda
            &:nth-of-type(9) {
                
                .character-name {
                    top: -20px;
                }
                
                img {
                    transform: scale(0.8);
                    margin-bottom: -3rem;
                }
            }
        }
    }

}

@media screen and (min-width: 1200px) {

    #character-box {
        
        .nav-btn {
            display: none;
        }


        ul {
            li {
                display: flex;
                width: 5vw;
                margin: 0 1.25rem;
                margin-bottom: -2.5rem;
                filter: grayscale(70%) brightness(0.7);

                .character-name {
                    opacity: 0;
                }
        
                &.active .character-name {
                    opacity: 1;
                }
        
                &:hover, &.active {
                    transform: translateY(-20px) scale(1.05);
                    filter: none;
                    z-index: 2;
                }

                &:nth-of-type(6) {
                    z-index: -1;

                    .character-name {
                        margin-right: -2rem;
                    }

                    &:hover, &.active {
                        transform: translateY(-20px) scale(1.05);
                        filter: none;
                        z-index: -1;

                    }
                }

            }
        } 
    }
}