@use '../abstracts' as a;

.movie-details {
    position: absolute;
    width: 100%;
    height: 50vh;
    overflow: hidden;

    #movie-box {
        .movie-poster {
            position: fixed;
            width: 50%;
            left: 50%;
            top: 10%;
            z-index: 100;
            transform: translateX(-50%);
            z-index: 1;
            animation: posterFade 5s ease-out forwards;
            animation-delay: 1s;
            border: white 2px solid;
        }

        .crawl-container {
            position: absolute;
            width: 80vw;
            height: 50em;
            bottom: 0;
            left: 50%;
            font-size: 2rem;
            text-align: center;
            transform: translateX(-50%) perspective(300px) rotateX(25deg);
            transform-origin: 50% 100%;
            
            .content-con {
                position: absolute;
                top: 100%;
                width: 100%;
                animation: scroll 120s linear forwards;
                animation-delay: 2s;
                
                .movie-title {
                    color: #FFE81F;
                    font-size: 3rem;
                    margin-bottom: 2rem;
                    text-align: center;
                }
                
                .movie-crawl {
                    color: #FFE81F;
                    font-size: 1.25rem;
                    text-align: center;
                }
            }
        }
    }
}

@keyframes posterFade {
    0% { 
        transform: translateX(-50%) scale(1); 
        opacity: 1; 
    }
    50% { 
        opacity: 1; 
    }
    100% { 
        transform: translateX(-50%) scale(0.1); 
        opacity: 0; 
    }
}

@keyframes scroll {
    0% { 
        top: 95%; 
    }
    90% {
        opacity: 1;
    }
    100% { 
        top: -170%; 
        opacity: 0;
    }
}


@media screen and (min-width: 768px) {

    .movie-details {

        #movie-box {

            .movie-poster {
                width: 40%;
                top: 5%;
                max-width: 325px;
            }

            .crawl-container {
                
                .content-con {
                    animation: scroll 140s linear forwards;
                    animation-delay: 2s;

                    .movie-title {
                        font-size: 4rem;
                    }
                    
                    .movie-crawl {
                        font-size: 1.5rem;
                    }
              }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .movie-details {
        max-width: 1400px;
        left: 50%;
        transform: translateX(-50%);
        height: 60vh;

        #movie-box {

            .movie-poster {
                animation: none;
                width: 30%;
                left: 20%;
                top: 10%;
            }

            .crawl-container {
                width: 55%;
                left: 66.5%;
                
                .content-con {
                    animation-delay: 0s;

                    .movie-title {
                        font-size: 4rem;
                    }
                    
                    .movie-crawl {
                        font-size: 1.5rem;
                    }
              }
            }
        }
    }
}
