@use '../abstracts' as a;

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    &.show {
        display: block;
    }

    img {
        width: 80px;
        height: 80px;
        filter: drop-shadow(0 0 5px a.$primary-color);
        animation: spinScale 1s ease infinite;
    }

    p {
        color: a.$primary-color;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 800;
        filter: drop-shadow(0 0 5px a.$primary-color);
    }
}

@keyframes spinScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(0.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.error {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    padding-top: 50vh;
    width: 70%;
    margin: 0 auto;
    color: red;
}
