@use '../abstracts' as a;

header {
    @include a.center;
    flex-direction: column;
    position: absolute;    
    left: 0;
    right: 0;

    img {
        margin: 2rem auto 1rem auto;
        width: 60%;
    }

    p {
        color: a.$primary-color;
        font-size: 1.5rem;
        text-align: center;
        width: 90%;
        font-weight: 800;
    }

    #desktop-instructions {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    
    header {

        img {
            width: 40%;
        }

        p {
            font-size: 1.75rem;
            width: 60%;
        }
    }
}

@media screen and (min-width: 1200px) {
    
    header {

        img {
            width: 30%;
            margin: 3rem auto 1rem auto;
        }

        p {
            font-size: 1.75rem;
        }

        #desktop-instructions {
            display: block;
        }

        #mobile-instructions {
            display: none;
        }
    }
}